  /* 1-Header-Page-Setup */
.container{
width:80%;
margin:auto;
overflow: hidden;
}
header{
    background-image:url(./img/black1.jpg);
    background-size: contain, cover;
    background-repeat:repeat-x;
    padding-top: 30px;
    color:white;
    min-height: 60px;
    border-bottom:red 3px solid;
}

header a{
  font-family: serif;
  color:white;
  text-decoration:none;
  text-transform:capitalize;
  font-size: 18px;
  
}

header ul{
  margin:0;
  padding:0;
}

header li{
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float:left;
}
header #branding h1{
  margin:0;
}
header nav{
  float:right;
  margin-top:10px;
} 
header .H,header .H a{
  color:#D2A306;
  font-weight:bold;
}
header a:hover{
  color:#B23770;
  font-weight:bold;
  opacity: 0.7;
}
/* 2-Section-Page-Setup */